<html>
  <head>
  </head>
  <body>
    <h1>Braintree Credit Card Transaction Form</h1>
    <div>
      <form action='/create_customer' method='POST' id="braintree-payment-form">
        <h2>Customer Information</h2>
        <p>
          <label>First Name</label>
          <input type='text' name='first_name' id='first_name'></input>
        </p>
        <p>
          <label for='last_name'>Last Name</label>
          <input type='text' name='last_name' id='last_name'></input>
        </p>
        <p>
          <label for='postal_code'>Postal Code</label>
          <input type='text' name='postal_code' id='postal_code'></input>
        </p>
        <h2>Credit Card</h2>
        <p>
          <label for='credit_card_number'>Credit Card Number</label>
          <input type='text' data-encrypted-name='number' id='credit_card_number'></input>
        </p>
        <p>
          <label for='credit_card_exp'>Credit Card Expiry (mm/yyyy)</label>
          <input type='text' data-encrypted-name='expiration_date' id='credit_card_exp'></input>
        </p>
        <p>
          <label for='credit_card_cvv'>CVV</label>
          <input type='text' data-encrypted-name='cvv' id='credit_card_cvv'></input>
        </p>
        <input class='submit-button' type='submit' />
      </form>
    </div>
    <script type="text/javascript" src="https://js.braintreegateway.com/v1/braintree.js"></script>
    <script type="text/javascript">
      var braintree = Braintree.create("YourClientSideEncryptionKey");
      braintree.onSubmitEncryptForm('braintree-payment-form');
    </script>
  </body>
</html>
